//Colors and backgrounds
$navheight: 28px;
$navbg: yellow;
$navtrans: transparent;
$navcolor: #444;
$navheader: 30px;
$navicon: 25px;
$navfontsize: 16px;

//Fonts
$globalfont: "Puritan", sans-serif;

//Misc
$bold: bold;
$bolder: bolder;
$normal: normal;
